.comment-button {
  padding: 7px;
  border: 1px solid #999;
  margin: 5px 0px;
  cursor: text;
}

.comment-form {
  display: none;
}

.isCommenting .comment-form {
  display: block;
}

.isCommenting .comment-button {
  display: none;
}

.comment-creator-avatar img {
  float: left;
  vertical-align: top;
  width: 35px;
}

.comment-actions a {
  padding: 2px;
  font-size: 12px;
  border: initial;
  background: transparent;

}

.comment-teaser {
  margin: 10px 0px;
}

.comments {
  max-height: 300px;
  overflow: auto;
  border: inset 2px;
  padding: 3px 10px;
}